banquito/banquito-ejb/src/wsdl/localhost_8080/sri-web/ContribuyenteWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.sri.arquitectura.espe.edu.ec/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ContribuyenteWS" targetNamespace="http://ws.sri.arquitectura.espe.edu.ec/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.sri.arquitectura.espe.edu.ec/" elementFormDefault="unqualified" targetNamespace="http://ws.sri.arquitectura.espe.edu.ec/" version="1.0">

  <xs:element name="obtenerDatosContribuyente" type="tns:obtenerDatosContribuyente"/>

  <xs:element name="obtenerDatosContribuyenteResponse" type="tns:obtenerDatosContribuyenteResponse"/>

  <xs:complexType name="obtenerDatosContribuyente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ruc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDatosContribuyenteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:contribuyente"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contribuyente">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="establecimientoList" nillable="true" type="tns:establecimiento"/>
      <xs:element minOccurs="0" name="estado" type="xs:string"/>
      <xs:element minOccurs="0" name="nombreComercial" type="xs:string"/>
      <xs:element minOccurs="0" name="razonSocial" type="xs:string"/>
      <xs:element minOccurs="0" name="ruc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="establecimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="canton" type="xs:string"/>
      <xs:element minOccurs="0" name="contribuyente" type="tns:contribuyente"/>
      <xs:element minOccurs="0" name="direccion" type="xs:string"/>
      <xs:element minOccurs="0" name="establecimientoPK" type="tns:establecimientoPK"/>
      <xs:element minOccurs="0" name="estado" type="xs:string"/>
      <xs:element minOccurs="0" name="nombreComercialEstablecimiento" type="xs:string"/>
      <xs:element minOccurs="0" name="provincia" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="establecimientoPK">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEstablecimiento" type="xs:string"/>
      <xs:element minOccurs="0" name="ruc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="obtenerDatosContribuyente">
    <wsdl:part element="tns:obtenerDatosContribuyente" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDatosContribuyenteResponse">
    <wsdl:part element="tns:obtenerDatosContribuyenteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ContribuyenteWS">
    <wsdl:operation name="obtenerDatosContribuyente">
      <wsdl:input message="tns:obtenerDatosContribuyente" name="obtenerDatosContribuyente">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDatosContribuyenteResponse" name="obtenerDatosContribuyenteResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContribuyenteWSSoapBinding" type="tns:ContribuyenteWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerDatosContribuyente">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerDatosContribuyente">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDatosContribuyenteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContribuyenteWS">
    <wsdl:port binding="tns:ContribuyenteWSSoapBinding" name="ContribuyenteWSPort">
      <soap:address location="http://localhost:8080/sri-web/ContribuyenteWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>